### ðŸ“‹ Non-Visual Statistics (Numeric & Categorical)
#### Numeric Statistics
#### These are calculated for numeric columns and describe data using numbers.
#### ðŸ“˜ Common Measures:
#### Mean
#### Median
#### Variance
#### Standard Deviation
#### Minimum and Maximum

### Categorical Statistics
#### These are for text or category columns and describe frequency or uniqueness.
#### ðŸ“˜ Common Measures:
#### Count
#### unique
#### nunique
#### value_counts
#### mode

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [144]:
def num_non_visual_stats(num_df):
    '''Non-Visual Statistics for Numeric Columns'''
    for col in num_df.columns:
        print(f"{col}")
        print(num_df[col].agg(["mean", "median", "var", "std", "min", "max"]))
        print("-" * 40)

In [146]:
def cat_non_visual_stats(cat_df):
    '''Non-Visual Statistics for Categorical Columns'''
    for col in cat_df.columns:
        print(f"{col}")
        print(cat_df[col].agg(["count", "nunique"]))
        print("Most Frequent Value:", cat_df[col].mode()[0])
        print("-" * 40)

In [ ]:
df = pd.read_excel("retail_store_sales.xlsx")

In [149]:
df.head()

,Invoice No,Stock-Code,Description,Quantity,Invoice Date,Unit Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [150]:
numeric = df.select_dtypes(include=["int","float"])

In [151]:
num_non_visual_stats(numeric)

Quantity
mean          9.552250
median        3.000000
var       47559.391409
std         218.081158
min      -80995.000000
max       80995.000000
Name: Quantity, dtype: float64
----------------------------------------
Unit Price
mean          4.611114
median        2.080000
var        9362.469164
std          96.759853
min      -11062.060000
max       38970.000000
Name: Unit Price, dtype: float64
----------------------------------------
Customer ID
mean      1.528769e+04
median    1.515200e+04
var       2.936426e+06
std       1.713600e+03
min       1.234600e+04
max       1.828700e+04
Name: Customer ID, dtype: float64
----------------------------------------

In [152]:
categorical = df.select_dtypes(include=["object"])

In [153]:
cat_non_visual_stats(categorical)

Invoice No
count      541909
nunique     25900
Name: Invoice No, dtype: int64
Most Frequent Value: 573585
----------------------------------------
 Stock-Code
count      541909
nunique      4070
Name:  Stock-Code , dtype: int64
Most Frequent Value: 85123A
----------------------------------------
Description
count      540455
nunique      4223
Name: Description, dtype: int64
Most Frequent Value: WHITE HANGING HEART T-LIGHT HOLDER
----------------------------------------
Country
count      541909
nunique        38
Name: Country, dtype: int64
Most Frequent Value: United Kingdom
----------------------------------------