### ðŸ“‰ Variance
#### Variance shows how far the data values are spread out from the mean.
#### It tells how much the numbers differ from the average value.
#### Formula:
#### Variance = (Sum of (x âˆ’ mean)Â²) / Number of values
#### Example:
#### Data = [2, 4, 6, 8]
#### Mean = 5
#### Variance = 5

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
 df = pd.DataFrame({"Students":["A","B","C","D","E","F"],
             "Marks":[90,87,56,34,56,97]})

In [17]:
df

  Students  Marks
0        A     90
1        B     87
2        C     56
3        D     34
4        E     56
5        F     97

In [23]:
df["Marks"].mean()

70.0

In [31]:
df["Marks"].sort_values().median()

71.5

In [33]:
df["Marks"].median()     # automatically itself sort the values no need sort the values again

71.5

In [35]:
df["Marks"].var()

621.2

### ðŸ“Š Standard Deviation
#### Standard Deviation is the square root of variance.
#### It tells how much the values deviate from the mean on average.
#### Formula:
#### Standard Deviation = âˆšVariance
#### Example:
#### If Variance = 5
#### then Standard Deviation = 2.24

In [38]:
df["Marks"].std()

24.92388412747901