# üé≤ Basics of Probability

---

## üìò Probability Definition

**Probability** is the measure of how likely an event is to occur.  
It tells us the chance or likelihood of a specific outcome happening in an experiment.

\[
P(A) =favorable outcomes/Total number of outcomes
\]

Example:  
When rolling a fair six-sided die,  
the probability of getting a 3 is:

\[
P(3) = \frac{1}{6}
\]

---

## üß™ Random Experiment

A **random experiment** is an action or process that leads to one of several possible outcomes,  
where the result cannot be predicted with certainty in advance.

**Examples:**
- Tossing a coin  
- Rolling a die  
- Drawing a card from a deck  

---

## üåê Sample Space

The **sample space** is the set of **all possible outcomes** of a random experiment.  
It is usually denoted by **S**.

\[
S = \{ \text{all possible outcomes} \}
\]

**Examples:**
- Tossing a coin ‚Üí \( S = \{H, T\} \)
- Rolling a die ‚Üí \( S = \{1, 2, 3, 4, 5, 6\} \)

---

## üéØ Event

An **event** is a subset of the sample space.  
It represents one or more outcomes of interest from the experiment.

**Examples:**
- Getting a head when tossing a coin ‚Üí \( E = \{H\} \)
- Getting an even number when rolling a die ‚Üí \( E = \{2, 4, 6\} \)

---

‚úÖ **Summary:**
| Term | Meaning | Example |
|------|----------|----------|
| Probability | Measure of likelihood of an event | \( P(A) = \frac{\text{favorable}}{\text{total}} \) |
| Random Experiment | Action with uncertain outcome | Tossing a coin |
| Sample Space | All possible outcomes | \( \{H, T\} \) |
| Event | Subset of sample space | \( \{H\} \) |

In [43]:
import pandas as pd

data = {
    "Name": ["Anand", "Ravi", "Kiran", "Deepa", "Asha", "Manu", "Priya", "Varun"],
    "Subject": ["Math", "Science", "Math", "English", "Math", "Science", "English", "Math"]
}

df = pd.DataFrame(data)
df

    Name  Subject
0  Anand     Math
1   Ravi  Science
2  Kiran     Math
3  Deepa  English
4   Asha     Math
5   Manu  Science
6  Priya  English
7  Varun     Math

In [45]:
# Total students
total = len(df)

# Students who like Math
favorable = len(df[df["Subject"] == "Math"])

# Probability
P = favorable / total
print(f"Probability of selecting a student who likes Math: {P*100}%")

Probability of selecting a student who likes Math: 50.0%

In [47]:

data = {
    "Name": ["Anand", "Ravi", "Kiran", "Deepa", "Asha", "Manu", "Priya", "Varun", "Meena", "Rahul"],
    "Gender": ["M", "M", "M", "F", "F", "M", "F", "M", "F", "M"],
    "Department": ["CSE", "ECE", "ME", "CSE", "ME", "ECE", "CSE", "ME", "ECE", "CSE"],
    "Marks": [85, 78, 90, 88, 60, 75, 92, 70, 82, 80]
}

df = pd.DataFrame(data)
df

    Name Gender Department  Marks
0  Anand      M        CSE     85
1   Ravi      M        ECE     78
2  Kiran      M         ME     90
3  Deepa      F        CSE     88
4   Asha      F         ME     60
5   Manu      M        ECE     75
6  Priya      F        CSE     92
7  Varun      M         ME     70
8  Meena      F        ECE     82
9  Rahul      M        CSE     80

In [49]:
total = len(df)
favorable = len(df[df["Department"] == "CSE"])

P_CSE = favorable / total
print(f"Probability of selecting a CSE student: {P_CSE*100}%")

Probability of selecting a CSE student: 40.0%

In [51]:
favorable = len(df[df["Gender"] == "F"])
P_Female = favorable / total
print(f"Probability of selecting a Female student: {P_Female*100}%")

Probability of selecting a Female student: 40.0%

In [55]:
favorable = len(df[df["Marks"] > 80])
P_above80 = favorable / total
print(f"Probability of selecting a student who scored above 80: {P_above80*100}%")

Probability of selecting a student who scored above 80: 50.0%