## ðŸ§© Types of Events in Probability  

In probability, **events** are outcomes or sets of outcomes from an experiment.  
When we consider **two or more events**, we can describe their relationship using different types of events.

---

### 1ï¸âƒ£ Mutually Exclusive Events  
- Two events are **mutually exclusive** if they **cannot occur at the same time**.  
- In other words, if one event happens, the other **cannot** happen.  

**Example:**  
When tossing a coin, getting **Head (H)** and **Tail (T)** are mutually exclusive.  
\[
P(H\T) = 0
\]

---

### 2ï¸âƒ£ Not Mutually Exclusive Events  
- Two events are **not mutually exclusive** if they **can occur together**.  

**Example:**  
When rolling a die:  
Event A = Getting an **even number**  
Event B = Getting a **number greater than 3**  
Here, both can happen together (4 and 6).  
\[
P(A \ B) not equal to 0
\]

---

### 3ï¸âƒ£ Independent Events  
- Two events are **independent** if the occurrence of one **does not affect** the other.  

**Example:**  
Tossing two different coins.  
Event A = First coin shows Head  
Event B = Second coin shows Head  
\[
P(A \ B) = P(A) * P(B)
\]

---

### 4ï¸âƒ£ Dependent Events  
- Two events are **dependent** if the outcome of one **affects** the probability of the other.  

**Example:**  
Drawing two cards **without replacement** from a deck.  
After drawing the first card, the total number of cards decreases, which changes the probability of drawing the second one.  
\[
P(A \ B) = P(A) * P(B|A)
\]


## ðŸ§® Types of Events â€” Summary Table

| Type of Event              | Description | Example | Common Outcomes | Formula |
|-----------------------------|--------------|----------|------------------|----------|
| **Mutually Exclusive** | Two events that **cannot happen together** | Rolling a die: A = odd {1,3,5}, B = even {2,4,6} | No common outcomes | \( P(A âˆ© B) = 0 \) |
| **Not Mutually Exclusive** | Two events that **can happen together** | Rolling a die: A = number > 3 {4,5,6}, B = even {2,4,6} | Common = {4,6} | \( P(A âˆ© B) not equal to 0 \) |
| **Independent Events** | One eventâ€™s outcome **does not affect** the other | Tossing two coins: A = 1st coin Head, B = 2nd coin Head | Can occur together | \( P(A âˆ© B) = P(A)* P(B) \) |
| **Dependent Events** | One eventâ€™s outcome **affects** the other | Drawing 2 cards **without replacement** | Occur together but affect each other | \( P(A âˆ© B) = P(A) * P(B\A)  |

In [21]:
import pandas as pd

# Create a small dataset
data = {
    "Student": ["A", "B", "C", "D", "E"],
    "Fruit_1": ["Apple", "Banana", "Apple", "Mango", "Banana"],
    "Fruit_2": ["Mango", "Banana", "Apple", "Orange", "Mango"]
}

df = pd.DataFrame(data)
df

  Student Fruit_1 Fruit_2
0       A   Apple   Mango
1       B  Banana  Banana
2       C   Apple   Apple
3       D   Mango  Orange
4       E  Banana   Mango

In [23]:
# If Fruit_1 and Fruit_2 are same â†’ Dependent
# If different â†’ Independent
df["Event_Type"] = df.apply(lambda x: "Dependent" if x["Fruit_1"] == x["Fruit_2"] else "Independent", axis=1)
df

  Student Fruit_1 Fruit_2   Event_Type
0       A   Apple   Mango  Independent
1       B  Banana  Banana    Dependent
2       C   Apple   Apple    Dependent
3       D   Mango  Orange  Independent
4       E  Banana   Mango  Independent

In [43]:
# Calculate probability of each type
prob_dependent = (df["Event_Type"] == "Dependent").mean()
prob_independent = (df["Event_Type"] == "Independent").mean()

print(f"Probability of Dependent Event: {prob_dependent*100:.0f}%")
print(f"Probability of Independent Event: {prob_independent*100:.0f}%")

Probability of Dependent Event: 40%
Probability of Independent Event: 60%

In [47]:
# Create a dataset
data = {
    "Weather": ["Sunny", "Rainy", "Sunny", "Rainy", "Sunny", "Cloudy", "Rainy", "Cloudy", "Sunny", "Rainy"],
    "Play_Cricket": ["Yes", "No", "Yes", "No", "Yes", "Yes", "No", "Yes", "Yes", "No"],
    "Umbrella": ["No", "Yes", "No", "Yes", "No", "No", "Yes", "No", "No", "Yes"],
    "Windy": ["No", "Yes", "No", "No", "No", "Yes", "Yes", "No", "No", "Yes"]
}

df = pd.DataFrame(data)

df

  Weather Play_Cricket Umbrella Windy
0   Sunny          Yes       No    No
1   Rainy           No      Yes   Yes
2   Sunny          Yes       No    No
3   Rainy           No      Yes    No
4   Sunny          Yes       No    No
5  Cloudy          Yes       No   Yes
6   Rainy           No      Yes   Yes
7  Cloudy          Yes       No    No
8   Sunny          Yes       No    No
9   Rainy           No      Yes   Yes

In [75]:
p_windy = (df["Windy"] == "Yes").mean()
p_play = (df["Play_Cricket"] == "Yes").mean()
p_both = ((df["Windy"] == "Yes") & (df["Play_Cricket"] == "Yes")).mean()

print(f"P(Windy): {p_windy*100:.0f}%")
print(f"P(Play_Cricket): {p_play*100:.0f}%")
print(f"P(Windy âˆ© Play_Cricket): {p_both*100:.0f}%")
print(f"P(Windy) and P(Play_Cricket): {(p_windy * p_play)*100:.0f}%")

P(Windy): 40%
P(Play_Cricket): 60%
P(Windy âˆ© Play_Cricket): 10%
P(Windy) and P(Play_Cricket): 24%

In [73]:
p_umbrella = (df["Umbrella"] == "Yes").mean()
p_umbrella_given_rainy = (df[df["Weather"] == "Rainy"]["Umbrella"] == "Yes").mean()

print(f"P(Umbrella): {p_umbrella*100:.0f}%")
print(f"P(Umbrella and Rainy):{p_umbrella_given_rainy*100:.0f}%")

P(Umbrella): 40%
P(Umbrella and Rainy):100%

In [85]:
# Sample space for one die
sample_space = [1, 2, 3, 4, 5, 6]
n = len(sample_space)

print("Sample Space:", sample_space)
print("Total Outcomes:", n)

Sample Space: [1, 2, 3, 4, 5, 6]
Total Outcomes: 6

In [91]:
# Simple Event â†’ Getting 3
A = [3]
p_A = len(A) / n
print(f"\nP(A) - Getting 3: {p_A*100:.0f}%")

P(A) - Getting 3: 17%

In [95]:
# Compound Event â†’ Getting an even number
B = [2, 4, 6]
p_B = len(B) / n
print(f"P(B) - Even number: {p_B*100:.0f}%")

P(B) - Even number: 50%

In [97]:
# Mutually Exclusive Events â†’ Getting 2 or 5
C = [2]
D = [5]
p_C_and_D = len(set(C).intersection(D)) / n
print(f"P(C âˆ© D) - Mutually Exclusive:  {p_C_and_D*100:.0f}%")

P(C âˆ© D) - Mutually Exclusive:  0%

In [99]:
# Not Mutually Exclusive â†’ Even number and number >3
# sample space = [1,2,3,4,5,6]
E = [2, 4, 6]
F = [4, 5, 6]
p_E_and_F = len(set(E).intersection(F)) / n
print(f"P(E âˆ© F) - Not Mutually Exclusive: {p_E_and_F*100:.0f}%")

P(E âˆ© F) - Not Mutually Exclusive: 33%

In [103]:
# Independent Events â†’ Two dice rolled
# Create DataFrame manually
die1 = [1, 2, 3, 4, 5, 6]
die2 = [1, 2, 3, 4, 5, 6]
df = pd.DataFrame([(x, y) for x in die1 for y in die2], columns=["Die1", "Die2"])
df.head(10)

   Die1  Die2
0     1     1
1     1     2
2     1     3
3     1     4
4     1     5
5     1     6
6     2     1
7     2     2
8     2     3
9     2     4

In [105]:
# Event A = 3 on first die
# Event B = 6 on second die
df["A"] = df["Die1"] == 3
df["B"] = df["Die2"] == 6

In [107]:
df.head(10)

   Die1  Die2      A      B
0     1     1  False  False
1     1     2  False  False
2     1     3  False  False
3     1     4  False  False
4     1     5  False  False
5     1     6  False   True
6     2     1  False  False
7     2     2  False  False
8     2     3  False  False
9     2     4  False  False

In [117]:
p_A1 = df["A"].mean()
p_B1 = df["B"].mean()
p_A1_and_B1 = (df["A"] & df["B"]).mean()

df["result"] = df["A"] & df["B"]

df.tail()

    Die1  Die2      A      B  result
31     6     2  False  False   False
32     6     3  False  False   False
33     6     4  False  False   False
34     6     5  False  False   False
35     6     6  False   True   False

In [129]:
print("\nIndependent Events (Two Dice):")
print(f"P(A) = {p_A1*100:.0f}%")
print(f"P(B) = {p_B1*100:.0f}%")
print(f"P(A âˆ© B) = {p_A1_and_B1*100:.0f}%")
print(f"P(A)*P(B) = {(p_A1 * p_B1)*100:.0f}%")

Independent Events (Two Dice):
P(A) = 17%
P(B) = 17%
P(A âˆ© B) = 3%
P(A)*P(B) = 3%

In [147]:
# Bag with balls
balls = ["Red", "Red", "Blue", "Blue"]

# Create all possible 2-ball draws without replacement
draws = []
for i in range(len(balls)):
    for j in range(len(balls)):
        if i != j:  # without replacement
            draws.append((balls[i], balls[j]))

df = pd.DataFrame(draws, columns=["First_Draw", "Second_Draw"])
print("All possible draws (without replacement):")
df

All possible draws (without replacement):

   First_Draw Second_Draw
0         Red         Red
1         Red        Blue
2         Red        Blue
3         Red         Red
4         Red        Blue
5         Red        Blue
6        Blue         Red
7        Blue         Red
8        Blue        Blue
9        Blue         Red
10       Blue         Red
11       Blue        Blue

In [153]:
# Event A: First ball is Red
df["A"] = df["First_Draw"] == "Red"

# Event B: Second ball is Blue
df["B"] = df["Second_Draw"] == "Blue"

df

   First_Draw Second_Draw      A      B
0         Red         Red   True  False
1         Red        Blue   True   True
2         Red        Blue   True   True
3         Red         Red   True  False
4         Red        Blue   True   True
5         Red        Blue   True   True
6        Blue         Red  False  False
7        Blue         Red  False  False
8        Blue        Blue  False   True
9        Blue         Red  False  False
10       Blue         Red  False  False
11       Blue        Blue  False   True

In [155]:
# Probability of A
p_A = df["A"].mean()

# Probability of B given A (dependent)
p_B_given_A = df[df["A"]]["B"].mean()

# Probability of A and B
p_A_and_B = p_A * p_B_given_A

print("\nDependent Events Probabilities:")
print("P(A) - First Red =", p_A)
print("P(B|A) - Second Blue given first Red =", p_B_given_A)
print("P(A âˆ© B) =", p_A_and_B)

Dependent Events Probabilities:
P(A) - First Red = 0.5
P(B|A) - Second Blue given first Red = 0.6666666666666666
P(A âˆ© B) = 0.3333333333333333