## Bayes' Theorem

**Definition:**  
Bayes’ Theorem helps to find the probability of an event **based on prior knowledge** of related conditions.

**Formula (in words):**  
> Probability of A given B = (Probability of B given A × Probability of A) ÷ Probability of B

**Where:**  
- Probability of A given B = Probability of A occurring if B has occurred  
- Probability of B given A = Probability of B occurring if A has occurred  
- Probability of A = Probability of A occurring  
- Probability of B = Probability of B occurring  

**Purpose:**  
- Used to calculate the probability of A when we know B has occurred.  
- Common applications:  
  - Medical tests (disease given positive test)  
  - Spam detection  
  - Machine learning models

In [3]:
import pandas as pd

# Bag with 2 Red and 2 Blue balls
balls = ["Red", "Red", "Blue", "Blue"]

In [5]:
# Create all possible 2-ball draws without replacement
draws = []
for i in range(len(balls)):
    for j in range(len(balls)):
        if i != j:  # without replacement
            draws.append((balls[i], balls[j]))

In [7]:
df = pd.DataFrame(draws, columns=["First_Draw", "Second_Draw"])
print("All possible draws (without replacement):")
df

All possible draws (without replacement):

   First_Draw Second_Draw
0         Red         Red
1         Red        Blue
2         Red        Blue
3         Red         Red
4         Red        Blue
5         Red        Blue
6        Blue         Red
7        Blue         Red
8        Blue        Blue
9        Blue         Red
10       Blue         Red
11       Blue        Blue

In [11]:
# Event A: Second ball is Blue
# Event B: First ball is Red
df["A"] = df["Second_Draw"] == "Blue"
df["B"] = df["First_Draw"] == "Red"

df

   First_Draw Second_Draw      A      B
0         Red         Red  False   True
1         Red        Blue   True   True
2         Red        Blue   True   True
3         Red         Red  False   True
4         Red        Blue   True   True
5         Red        Blue   True   True
6        Blue         Red  False  False
7        Blue         Red  False  False
8        Blue        Blue   True  False
9        Blue         Red  False  False
10       Blue         Red  False  False
11       Blue        Blue   True  False

In [15]:
# Probability of A
p_A = df["A"].mean()

# Probability of B
p_B = df["B"].mean()

# Probability of A and B (both events happen)
p_A_and_B = (df["A"] & df["B"]).mean()

# Bayes' Theorem: P(B|A) = P(A and B) / P(A)
p_B_given_A = p_A_and_B / p_A

print("\nBayes Theorem Example:")
print("P(A) - Second ball Blue =", p_A)
print("P(B) - First ball Red =", p_B)
print("P(A ∩ B) =", p_A_and_B)
print("P(B|A) =", p_B_given_A)

Bayes Theorem Example:
P(A) - Second ball Blue = 0.5
P(B) - First ball Red = 0.5
P(A ∩ B) = 0.3333333333333333
P(B|A) = 0.6666666666666666

In [17]:
#  Create dataset
data = {
    "Good_in_Math": ["Yes", "Yes", "Yes", "Yes", "No", "No", "No", "No", "No", "No"],
    "Pass_Test":    ["Yes", "Yes", "Yes", "No", "Yes", "No", "No", "Yes", "No", "No"]
}

df = pd.DataFrame(data)
print("Dataset:")
df

Dataset:

  Good_in_Math Pass_Test
0          Yes       Yes
1          Yes       Yes
2          Yes       Yes
3          Yes        No
4           No       Yes
5           No        No
6           No        No
7           No       Yes
8           No        No
9           No        No

In [19]:
# Step 1: Total probabilities
P_B = (df["Good_in_Math"] == "Yes").mean()  # P(B)
P_A = (df["Pass_Test"] == "Yes").mean()     # P(A)

In [21]:
# Step 2: Conditional probabilities
P_A_given_B = len(df[(df["Good_in_Math"] == "Yes") & (df["Pass_Test"] == "Yes")]) / len(df[df["Good_in_Math"] == "Yes"])
P_B_given_A = (P_A_given_B * P_B) / P_A     # Bayes' Theorem

print("\nP(B) - Good in Math =", round(P_B, 2))
print("P(A) - Pass Test =", round(P_A, 2))
print("P(A|B) - Pass given Good in Math =", round(P_A_given_B, 2))
print("P(B|A) - Good in Math given Passed =", round(P_B_given_A, 2))

P(B) - Good in Math = 0.4
P(A) - Pass Test = 0.5
P(A|B) - Pass given Good in Math = 0.75
P(B|A) - Good in Math given Passed = 0.6